<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title></title>
   
  </head>
  <body>
    <link rel="stylesheet" href="static/material.min.css">
    <script src="static/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
      

      <thead>
        <tr>
          <th  class="mdl-data-table__cell--non-numeric">ID</th>
          <th  class="mdl-data-table__cell--non-numeric">Name</th>
          <th  class="mdl-data-table__cell--non-numeric">Tagline</th>
          <th  class="mdl-data-table__cell--non-numeric">First Brewed</th>
          <th  class="mdl-data-table__cell--non-numeric">Description</th>
          {% for record in records %}
        </tr>
      </thead>
      <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{ record['id'] }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ record['name'] }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ record['tagline']}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ record['first_brewed']}}</td>
              <td class="mdl-data-table__cell--non-numeric" style="white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word">{{ record['description']}}</td>
              <!-- <td class="mdl-data-table__cell--non-numeric"><img src="{{ record['image_url']}}" alt="{{ record['name'] }}" height=150px></td> -->

          
            </tr>
      </tbody>
      {% endfor %}
  </table>
  </body>
</html>